# Directories
/.idea/
/.vscode/
/archive/
/dist/

# Files
/.envrc
/pgutil
.DS_Store
actual.hcl
actual.sql
coverage.txt
debug.test
TODO
y.output

# Patterns
.*.sw[op]
*.actual
*.dot
*.pdf
*.ri
*-actual.hcl
*-actual.sql
