# Directories
/.idea/
/.vscode/
/archive/
/dist/

# Files
/.envrc
/pgutil
/TODO
.DS_Store
actual.hcl
actual.sql
coverage.txt
debug.test

# Patterns
.*.sw[op]
*.dot
*.pdf
*.ri
*-actual.hcl
*-actual.sql
